
dist
.nuxt
build

npm-debug.log
npm-debug.log.*

*.DS_STORE

*.DS_Store
node_modules

npm-debug.log


.idea/inspectionProfiles/Project_Default.xml
.idea/kr-vue.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
