
    
    .layout{
        min-height:100%;
        overflow: hidden;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
    }
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }

    .layout-content{
        min-height: 500px;
        margin: 15px;
        overflow: hidden;
        border-radius: 4px;
        padding-bottom: 20px;
        padding-top: 63px;
    }
    .layout-content-main{
         min-height: 200px;
         background: #fff;
    }
    .layout-copy{
        text-align: center;
        /* padding: 10px 0 20px; */
        color: #9ea7b4;
        width:100%;
        height: 40px;
        line-height: 40px;
        position: absolute;
        left:0;
        bottom:0;
        border-top: solid 1px #e8e9e9;
        background:#fff;
        
    }
    .layout-menu-left{
        background: #464c5b;
        height:990px;
    }
    .layout-header{
        height: 60px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);

        .open-sidebar{
              float:left;
        }

        .user {
            float:right;
        }
       
    }
    .layout-logo-left{
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }

    .ivu-col{
        transition: width .2s ease-in-out;
    }









.app-header .c-header {
  position: fixed;

  z-index: 500;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  /*overflow: hidden;*/
  background: #fff;
  border-bottom: 1px solid #eee;
}
.app-header .c-header .header-nav {
  display: inline-block;
}
.app-header .c-header .brand {
  display: inline-block;
}
.app-header .c-header .menu-btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  float: left;
}
.app-header .c-header .header-nav ul {
  list-type: none;
}
.app-header .c-header .header-nav ul li {
  min-width: 88px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.app-header .sidebar {
  width: 180px;
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  /* border: 1px solid #ddd; */
  background: #394457;
  z-index: 900;
  overflow: auto;
  text-align: left;
  padding-bottom: 20px;
}
.app-header .sidebar .item .item-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #79859a;
  font-size: 16px;
  position: relative;
}
.app-header .sidebar .item ul li.default a {
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  color: #c8d2d9;
  font-size: 14px;
  padding-left: 40px;
}
.app-header .sidebar .item ul li.active a {
  width: 100%;
   padding-left: 40px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  color: #fff;
  background: #283243;
  font-size: 14px;
}
.app-header .header-nav ul li.active a {
  color: #394457;
  font-weight: 600;
}
.app-header .header-nav ul li a {
  padding: 0 16px;
  display: inline-block;
  height: 100%;
  color: rgba(0, 0, 0, 0.65);
}
.app-header .u-header-logo {
  width: 120px;
  height: 34px;
  float: left;
  background: url(images/logo.png) left center no-repeat;
  background-size: contain;
  margin-top: 14px;
  margin-left: 20px;
}
.app-header .u-header-sidebar {
  width: 180px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  float: left;
}
.app-header .menu-btn-close {
  background: url(images/hide_shu.png) center center no-repeat;
  background-size: 30px 36px;
}
.app-header .menu-btn-open {
  background: url(images/hide_heng.png) center center no-repeat;
  background-size: 36px 30px;
}
.app-header .icon-style {
  height: 24px;
  width: 24px;
  position: absolute;
  display: inline-block;
  top: 17px;
  left: 15px;
  font-size: 18px;
}
.app-header #j_account_detail {
  width: 84px;
  height: 100px;
  position: fixed;
  right: 10px;
  top: 8px;
  background: #fff;
  color: rgba(0, 0, 0, 0.870588);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.app-header #j_account_detail_mask {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.app-header .j_account_list {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  font-size: 16px;
}
.app-header .j_account_list:hover {
  background: rgba(153, 153, 153, 0.2);
  border-radius: 2px;
  cursor: pointer;
}
.app-header .j_header_other {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  margin-right: 16px;
  vertical-align: middle;
}
.app-header .j_header_other #j_account_btn {
  width: 28px;
  height: 28px;
  background: url(images/exit.svg) no-repeat center center;
  background-size: contain;
  display: inline-block;
  margin: 16px;
  cursor: pointer;
}
.app-header #j_account_box {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /*background: blue;*/
}
.app-header .j_header_other #j_msg_btn {
  width: 28px;
  height: 28px;
  background: url(images/msg-icon.svg) no-repeat center center;
  background-size: contain;
  display: inline-block;
  margin: 16px -3px 16px 16px;
  cursor: pointer;
}
.app-header .username {
  display: block;
  font-size: 14px;
  color: #333;
  text-align: center;
  text-decoration: none;
}


/*更多*/
.app-header .c-header .header-nav .more-nav-ul{
  position:relative;
}
.app-header .c-header .header-nav .more-nav-ul .more-name-li:hover{
  color:#394457;
  font-weight:600;
}
.app-header .c-header .header-nav .more-nav-ul .more-nav{
  width:auto;
  display:inline-block;
  position: absolute;
  right:44px;
  top:60px;
  transform: translateX(50%);
  border:solid 1px #ccc;
  background:#fff;
  border-radius:4px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  display:none;
}
.app-header .c-header .header-nav .more-nav-ul .more-nav p{
  width: 16px;
  height: 16px;
  border: solid 1px #ccc;
  border-right: none;
  border-bottom: none;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: -9px;
}
.app-header .c-header .header-nav .more-nav-ul .more-nav li{
  display:block;
  height:50px;
  line-height:50px;
  font-weight:normal;
}
.app-header .nav-loading{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 0;
  background: #fff;
  transform: all 0.5s;
}
.app-header .nav-loading .item-loader-container{
  position: absolute;
  width: 220px;
  height: 180px;
  left: 50%;
  top: 50%;
  margin-left: -110px;
  margin-top: -90px;
  /* background: blueviolet; */
  font-size: 18px;
  text-align: center
  
  
}
.app-header .nav-loading .item-loader-container>span{
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
}
.app-header .nav-loading .item-loader-container .la-2x{
  width: 64px;
  height: 64px;
  position: relative;
  position: relative;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
.app-header .nav-loading .item-loader-container .la-2x>div:nth-child(2){
  bottom: -9%;
    height: 10%;
    background: #000;
    border-radius: 50%;
    opacity: .2;
    -webkit-animation: loading-shadow 0.6s -0.1s linear infinite;
    -moz-animation: loading-shadow 0.6s -0.1s linear infinite;
    -o-animation: loading-shadow 0.6s -0.1s linear infinite;
    animation: loading-shadow 0.6s -0.1s linear infinite;
    position: absolute;
    left: 0;
    width: 100%;
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    box-sizing: border-box;
}
.app-header .nav-loading .item-loader-container .la-2x>div:nth-child(1){
   top: -25%;
    z-index: 1;
    height: 100%;
    border-radius: 10%;
    -webkit-animation: loading-animation 0.6s -0.1s linear infinite;
    -moz-animation: loading-animation 0.6s -0.1s linear infinite;
    -o-animation: loading-animation 0.6s -0.1s linear infinite;
    animation: loading-animation 0.6s -0.1s linear infinite;
    position: absolute;
    left: 0;
    width: 100%;
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
/*
@keyframes loading-animation{
  17%{
    border-bottom-right-radius: 10%;
  }
  25%{
    transform: translateY(25%) rotate(22.5deg);
  }
  50%{
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    -moz-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    -o-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  70%{
    -webkit-transform: translateY(25%) rotate(67.5deg);
    -moz-transform: translateY(25%) rotate(67.5deg);
    -o-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100%{
    -webkit-transform: translateY(0) rotate(90deg);
    -moz-transform: translateY(0) rotate(90deg);
    -o-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes loading-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
    -moz-transform: scale(1.25, 1);
    -o-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
@keyframes loading-fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}
*/