#layout-content-main{
    background-color: transparent;
  }
  .operation-community{
    padding-left:5px;
    min-width:1028px;
    overflow: auto;
  }
  .community{
    background-color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 4px;
    height: 58px;
    line-height: 58px;
  }
  .tab-list{
    margin-bottom: 20px;
    height: 158px;
    display: flex;
  }
  .tab-list .item{
    width:220px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    height: 100%;
    text-align: center;
  }
  .item+.item{
    margin-left:20px;
  }
  .card-three{
    flex:1.5;
    margin-right: 20px;
    background-color: transparent;
  }
  .item .content{
    display: block;
  }
  .item .title{
    font-size: 16px;
    color: #394457;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .item .number{
    font-size: 20px;
    color: #333333;
    line-height: 44px;
    vertical-align:bottom;
  }
  .item .number>span{
    font-size: 44px;
    margin-right: 10px;
  }
  .card-three{
    margin-left:20px;
    .tabs{
      display: flex;
    }
  }
  .card-three>.tabs>span{
    max-width:150px;
    flex:1;
    height:33px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
  }
  .card-three>.content{
    &:hover{
      box-shadow: 6px 5px  20px rgba(224, 222, 229, .5)
    }
    height:124px;
    background-color: #fff;
    width: 100%;
    display: flex;
    border-radius: 0 4px 4px 4px;
    border-bottom:1px solid #fff;
  }
  .card-one,.card-two{
    &:hover{
      cursor: pointer;
      box-shadow: 6px 5px  20px rgba(224, 222, 229, .5)
    }
  }
  .card-three .content .number{
    flex:1;
    text-align: center;
    margin:0 auto;
    &:hover{
      background: #F9F9F9;
    }

  }
  .card-three .content .number .title{
    font-size: 16px;
    color: #333333;
    line-height: 16px;
    display: block;
    margin:25px auto 10px auto;
  }
  .card-three .tabs .title{
    font-size: 14px;
    cursor: pointer;
    color: #666666;
    letter-spacing: 0;
    background-image: url(~/assets/images/normal.png);
    -webkit-background-size: cover;
    background-size: cover;
  }
  .card-three .tabs .active{
    font-size: 14px;
    color: #394457;
    letter-spacing: 0;
    background-image: url(~/assets/images/activity.png);
    -webkit-background-size: cover;
    background-size: cover;
  }
  .line-one{
    display: flex;
    margin-bottom: 20px;
  }
  .ellipsis{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
  .line-one .box{
    flex:1;
    height:255px;
    margin-right: 21px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    &:hover{
      box-shadow: 6px 5px  20px rgba(224, 222, 229, .5)
    }
  }
  .line-one .box .header{
      height:52px;
      line-height:50px;
      font-size: 18px;
      color:#333;
      position: relative;
      border-bottom:1px solid #F1F2F7;
      div{
        display:inline-block;
      }
      .header-right{
        float:right;
        margin-right:20px;
        position: absolute;
        right: 0;
      }
      .header-left{
        position: relative;
        padding-left:18px;
        &:hover{
          cursor: pointer;
        }
        &:before{
          content:'';
          position: absolute;
          display: inline-block;
          height:24px;
          top: 13px;
          background-color: #394457;
          width:2px;
          left: 0;
        }

      }
  }
  .ivu-tooltip{
    height: 51px;
    overflow: hidden;
  }
  .bill-list{
    .contents{

      ul{
        margin:0 20px;
        li{
          display: flex;
          width:100%;
          height: 51px;
          line-height: 50px;
           border-bottom:1px solid  #F1F2F7;
          .table-cell{
            flex:1;
            font-size: 14px;
            min-width: 40px;
            height: 50px;
            overflow: hidden;
            color: #666666;
            vertical-align: top;
            .ivu-tooltip{
              position: relative;
            }
            .ivu-tooltip-rel{
              display: block;
            }
            .ivu-tooltip-inner{
              white-space: normal;
            }
          }
          .customer{
            flex:3;
          }
          
        }
      }
    }
  }